/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
  background: #fffef8;
}
/* top-bar */
.top-bar {
  height: 59px;
  background-color: #000;
  margin-left: -141.5px;
  margin-right: -141.5px;
  position: relative;
  display: none;
}

.top-bar i {
  width: 15.58px;
  height: 15.58px;
  color: #fff;
  margin-right: 12px;
  position: absolute;
  top: 35%;
  left: 42%;
  display: none;
}

.top-bar span {
  color: #fff;
  text-align: center;
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  top: 35%;
  left: 44%;
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
  cursor: pointer;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio {
  position: relative;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
  margin-top: 4.6em;
}

/* projet icon */
#portfolio i {
  width: 15.58px;
  height: 15.58px;
  position: absolute;
  left: 50em;
  top: 0.7em;
  display: none;
  cursor: pointer;
}

#portfolio span {
  margin-left: 11px;
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 51.5em;
  top: 0.7em;
  display: none;
}

/* buttons filters */
.button-container {
  display: flex;
  justify-content: center;
  margin: 3.188rem auto;
}

.filter-button {
  padding: 1px 20px;
  height: 37px;
  border-radius: 60px;
  border: 1px solid #1d6154;
  background: #fffef8;
  color: #1d6154;
  text-align: center;
  font-family: "Syne", sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-right: 10px;
  cursor: pointer;
}

.filter-button.active {
  background: #1d6154;
  color: #fff;
}
/* end of buttons */

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

/* popup */
.overlay-class {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999;

  display: none;
}

.popup {
  width: 39.375rem;
  height: 43.125rem;
  border-radius: 0.625rem;
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

#first-popup, 
#second-popup{
  display: none;
}

.popup i {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 1.625rem;
  right: 1.875rem;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
}

.popup h2 {
  color: #000;
  text-align: center;
  font-family: "Work Sans";
  font-size: 1.625rem;
  font-weight: 400;
  margin-top: 3.75rem;
}

.image-container {
  margin: 2.875rem 6.563rem auto;
  width: 26.25rem;
  height: 22.856rem;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.563rem 0.563rem;
  grid-auto-rows: 6.563rem;
}

.image-block {
  position: relative;
  width: 4.813rem;
  height: 6.563rem;
}

.image-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-block i {
  position: absolute;
  top: 0.375rem;
  right: 0.375rem;
  background: #000;
  border-radius: 10%;
  padding: 4px;
  color: #fff;
  cursor: pointer;
  z-index: 1;
  width: 0.563rem;
  height: 0.563rem;
  font-size: 0.563rem;
  text-align: center;
  line-height: 0.563rem;
}

.divider {
  width: 26.25rem;
  height: 1px;
  background-color: #b3b3b3;
  margin: 4.206rem auto auto;
}

.add-photo-button,
.valider-button {
  width: 14.813rem;
  height: 2.25rem;
  border-radius: 3.75rem;
  background: #1d6154;
  margin: 2.375rem 12.375rem auto;
  cursor: pointer;

  color: #fff;
  text-align: center;
  font-family: "Syne";
  font-size: 0.875rem;
  font-weight: 700;
  border-style: none;
}

.valider-button:hover{
  background: #1d6154;
}

#second-popup .fa-arrow-left {
  position: absolute;
  top: 1.625rem;
  left: 1.875rem;
}

.add-image-container {
  margin: 2.875rem 6.563rem auto;
  width: 26.25rem;
}

.upload-block {
  width: 26.25rem;
  height: 10.563rem;
  background: #e8f1f6;
  border-radius: 3px;
  text-align: center;
  position: relative;

  overflow: hidden;
}

#image-icon {
  font-size: 4.75rem;
  width: 4.75rem;
  height: 4.75rem;
  color: #b9c5cc;

  top: 0.813rem;
  left: 10.75rem;
  position: absolute;
}

#file-input {
  display: none;
}

.custom-file-label {
  width: 10.75rem;
  height: 2.25rem;
  border-radius: 3.125rem;
  background: #cbd6dc;
  border: none;

  cursor: pointer;
  color: #306685;
  text-align: center;
  font-family: "Work Sans";
  font-size: 0.875rem;
  font-weight: 500;
  text-align: center;
  line-height: 2.25rem;

  position: absolute;
  top: 5.938rem;
  left: 7.75rem;
}

.upload-block p {
  text-align: center;
  font-family: "Work Sans";
  font-size: 10px;
  font-weight: 400;
  color: #444;

  position: absolute;
  top: 138px;
  left: 163px;
}

.upload-block img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.title-block, 
.category-block {
  color: #3d3d3d;
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 500;
}
.title-block{
  margin-top: 30px;
}

#image-title, 
#image-category {
  width: 420px;
  height: 51px;
  background: #FFF;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
  margin-top: 10px;
  margin-bottom: 21px;
  border-style: none;
  
}

select {
  /* appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none; */
  position: relative;
  cursor: pointer;
}

select::after {
  content: "";
  cursor: pointer;

  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);

}

.empty-option {
  display: none;
}

.error-message{
  color: red; 
  display: none;
}
.popup-add .divider{
  margin-top: 26px;
}

.valider-button {
  text-align: center;
  width: 237px;
  height: 36px;
  border-radius: 60px;
  background: #A7A7A7;
  color: #FFF;
}

.valider-button {
  margin: 32px 198px auto;
  cursor: pointer;
}
